<!DOCTYPE html>
<html class="no-js" ng-app="finderApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Koffee Reinvented | An Organic, Vegan, & Non-Acidic Espresso-Based Cold Brew Coffee Drink</title>
        <meta name="description" content="Discover Koffee: the only stomach-friendly espresso drink that provides sustainable energy with significantly less crash. Try your first cup today!">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>

        <!-- Flexslider links/rels/scripts.-->
        <!-- NOTE: the path must begin with the domain (http://koffeereinvented.com/) -->
        <link rel="stylesheet" href="http://koffeereinvented.com/flexslider.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
        <script src="http://koffeereinvented.com/jquery.flexslider.js"></script>
        <script type="text/javascript" src="finder.js"></script>
        <script type="text/javascript" src="products.js"></script>
        <script type="text/javascript" charset="utf-8">
            $(window).load(function() {
                 $('.flexslider').flexslider({
                  // Disable touch for mobile pausing. 06.07.16 edit
                  touch: false,
                  pauseOnAction: false
                 });

            });
        </script>

        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="new.css">
        <!-- Sticky JS script 06.14.16 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.js
"></script>
        <!-- Try StickyjQuery for having the side bar 'follow' the window. -->

        <!-- Sidr JS script + css for hamburger menu 06.09.16 -->
        <script src="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.light.min.css">

         <!-- Sidr responsive CSS -->
        <style>
        .modal-container {
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
  width: 300px;
}

.modal-container button {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 300px;
  height: 50px;
  line-height: 50px;
  background: #6d5244;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-container #modal-toggle:hover ~ button { background: #1E824C; }

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #6d5244;
  max-width: 400px;
  width: 100%;
  height: 851px;
  padding: 10px 30px;
  position: absolute;
  left: calc(50% - 200px);
  top: 12%;
  border-radius: 4px;
  z-index: 1;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  width: 80%;

}
@media (max-width: 400px) {

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content { left: 0; }
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #6d5244;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 20px;
  background: #603d28;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #1E824C;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: #333; }

        /*Add this class to mobile-nav when scrolling*/
        .navbar-fixed {
          position: fixed;
        }
      #mobile-header {
          display: none;
          height: 0px;
          position: fixed;
          /*Moving hamburger icon slightly to the right and down.*/
          top:20px;
          left:10px;
      }
      #mobile-sidr {
        display:none;
        height: 0px;
      }

      /*Keep #sticky mobile_nav fixed to top of screen unless mobile*/
      /*06.15.16*/
      /*#sticky {*/
        /*top: 0px !important;*/
        /*position: fixed !important;*/
      /*}*/
      @media only screen and (max-width: 767px){
          #mobile-header {
              display: block;
              height: 100px;
          }
          #welcome_image {
            padding-top:200px;
            min-height:300px;
          }
          #sidr-hide {
            display: none;
          }
          header {
            position: fixed;
            height:60px;
            background-image:url("images/white_bg_new.jpg");
          }
          #sidr-main {
        background-image: url("images/white_bg_new.jpg");
        }
        #sidr-main ul a { border-bottom: 6px solid transparent; color: #5c4033; font-family: "Cabin Sketch",cursive; font-size: 21px; margin: 0 auto; max-width: 1053px; padding: 6px 0 0 0px; text-decoration: none; text-transform: uppercase; width: 100%; }
        #sidr-main li {
         float: none;
        }
        #sidr-id-logo-nav {
          padding-left: 23% !important;
        }
        #sidr-id-sidr-logo {
          padding-top: 15px;
        }
        #sidr-id-close-x {
          padding-left: 50% !important;
        }

      }
      </style>

        <link href=''

        <meta property="og:image" content="http://www.koffeereinvented.com/images/facebook_icon.jpg" />
        <meta property="og:url" content="http://www.koffeereinvented.com" />
        <meta property="og:title" content="Koffee Reinvented | An Organic, Vegan, & Non-Acidic Espresso-Based Cold Brew Coffee Drink" />
        <meta property="og:description" content="Discover Koffee: the only stomach-friendly espresso drink that provides sustainable energy with significantly less crash. Try your first cup today!" />

    </head>
    <body>
        <!--<div id="apply_popup">
            <div id="apply_box">
                <div id="apply">
                    <div class="container">
                        <h2>Online Store Coming Soon!</h2>
                        <p>Enter Your Email Address<br>To Pre-Order Now!</p>
                        <div id="contact_form">
                            <form name="store" method="post" action="coming_soon.php">
                                <input type="text" name="store_first_name" placeholder="First Name" class="contact_text">
                                <input type="text" name="store_last_name" placeholder="Last Name" class="contact_text">
                                <input type="email" name="store_email" placeholder="Email" class="contact_text">
                                <input type="submit" value="" class="send">
                            </form>
                        </div>
                    </div>
                </div>
                <div id="close">
                    <h1>Close</h1>
                </div>
            </div>
        </div>-->

        <div id="welcome">
            <header>

              <!-- Hide this horizontal nav on @media max-width. -->
              <div id="sidr-hide">

                  <div class="main_nav">
                      <div id="splash__navigation">
                          <ul>
                              <li><p><a href="#our_story" id="iPad-nav" data-scroll data-options='{ "easing": "easeInQuint" }' >Kulture</a></p></li>
                              <li><p><a href="#products" data-scroll data-options='{ "easing": "easeInQuint" }' >Products</a></p></li>
                              <li><p><a href="#the_science" data-scroll data-options='{ "easing": "easeInQuint" }' >Science</a></p></li>
                              <li><a href="#welcome" data-scroll data-options='{ "easing": "easeInQuint" }' ><div id="logo"></div></a></li>
                              <li><p><a href="#the_beginning" data-scroll data-options='{ "easing": "easeInQuint" }' >Origin</a></p></li>
                              <li><p><a href="#the_founder" data-scroll data-options='{ "easing": "easeInQuint" }' >Founder</a></p></li>
                              <li><p><a href="#contact_us" data-scroll data-options='{ "easing": "easeInQuint" }' >Kontact</a></p></li>
                          </ul>
                      </div>
                  </div>
                </div>

                <div id="gray_edge"></div>
                  <!-- Sidr wraps the navbar 06.09.16 -->
              <div id="mobile-header">
                  <a id="responsive-menu-button" href="#sidr-main"><img src="images/demo_hamburger.png" id = "Koffee Reinvented"></a>

                  <!-- Sidr mobile nav. -->
                  <div id="mobile-sidr">
                  <!-- Your Nested mobile menu. -->
                  <ul class="one">

                              <!-- Adding a close button -->
                  <li><p><a href="#" id = "close-x" onclick="$.sidr('close', 'sidr-main');return false;">X</a></p></li>
                              <li><p><a href="#our_story" id="iPad-nav" data-scroll data-options='{ "easing": "easeInQuint" }' >Kulture</a></p></li>
                              <li><p><a href="#products" data-scroll data-options='{ "easing": "easeInQuint" }' >Products</a></p></li>
                              <li><p><a href="#the_science" data-scroll data-options='{ "easing": "easeInQuint" }' >Science</a></p></li>
                              <li><a href="#welcome" id ="logo-nav" data-scroll data-options='{ "easing": "easeInQuint" }' ><img id="sidr-logo" src="images/logo_sm_sm.jpg" alt = "Koffee Reinvented"></a></li>
                              <li><p><a href="#the_beginning" data-scroll data-options='{ "easing": "easeInQuint" }' >Origin</a></p></li>
                              <li><p><a href="#the_founder" data-scroll data-options='{ "easing": "easeInQuint" }' >Founder</a></p></li>
                              <li><p><a href="#contact_us" data-scroll data-options='{ "easing": "easeInQuint" }' >Kontact</a></p></li>
                          </ul>
                </div>
              </div>



                <!-- Hide this horizontal nav on @media max-width. -->
              <!-- <div id="sidr-hide">
                  <div class="mobile_nav" id = "sticky">
                      <div id="navigation">
                          <ul>
                              <li><p><a href="#our_story" id="iPad-nav" data-scroll data-options='{ "easing": "easeInQuint" }' >Kulture</a></p></li>
                              <li><p><a href="#products" data-scroll data-options='{ "easing": "easeInQuint" }' >Products</a></p></li>
                              <li><p><a href="#the_science" data-scroll data-options='{ "easing": "easeInQuint" }' >Science</a></p></li>
                              <li><a href="#welcome" data-scroll data-options='{ "easing": "easeInQuint" }' ><div id="logo_sm"></div></a></li>
                              <li><p><a href="#the_beginning" data-scroll data-options='{ "easing": "easeInQuint" }' >Origin</a></p></li>
                              <li><p><a href="#the_founder" data-scroll data-options='{ "easing": "easeInQuint" }' >Founder</a></p></li>
                              <li><p><a href="#contact_us" data-scroll data-options='{ "easing": "easeInQuint" }' >Kontact</a></p></li>
                          </ul>
                      </div>
                  </div>

              </div> -->

            </header>

        
            <div class="splash">
              <div class="splash__text">
                <h3 class="splash__introline">Welcome to the</h3>
                <h2 class="splash__heading">Future Of</h2>
                <h2 class="splash__heading__big">Coffee</h2>
                <h2 class="splash__tagline">Stay Awake.</h2>
              </div>
            </div>
            <div style="clear: both;"></div>

            <div id="welcome_text">
            <div id="orange_edge"></div>
                <!-- <p>We are changing the coffee game by reinventing both the recipe and the process. We are an all organic, fair trade and plant-based company, on a creatively innovative mission to make the world a better place. We are looking to lead the way as the forerunner of low acid, stomach friendly Koffee. Our unique cold-brew process concentrates more bold flavor and less acidity than your standard brew, while our restructured water brings alive the health benefits of coffee. It’s fun, portable sized bottle is a hit wherever it goes...and it fits just about anywhere!” </p> -->

                <div class="orange__benefits">
                  <div class="orange__benefits__left">
                    <li>Stomach Friendly</li>
                    <li>Less Krash</li>
                    <li>Less Jittery</li>
                    <li>Organic & Fair Trade</li>
                  </div>
                  <div class="orange__benefits__right">
                    <li>Sugar-Free</li>
                    <li>Dairy-Free</li>
                    <li>Less Bitter</li>
                    <li>Low Acid</li>
                  </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="why_newsletter">
            <div id="why">
                <!-- <div id="why_koffee_icon"></div> -->
                <h1>Our Mission</h1>
                <p>Our mission at Koffee Reinvented is to minimize all the negative side effects associated with standard Coffee, REINVENTING it into the health food nature intended it to be." We use only the highest quality, organic & fair-trade ingredients in our products. The Koffee Krew is on an innovative quest to make the world a happier, healthier place!</p>
                <p>         </span></p>

                <div id="learn_more"></div>
            </div>
            <div id="newsletter" style = "background-size: cover">
                <div id="newsletter_icon"></div>
                <!-- <h1>Newsletter</h1> -->
                <!-- <p>Coming Soon</p> -->
                <div id="subscribe"></div>
            </div>
        </div>
        <div style="clear: both; font-color: #614126"></div>
        <div id="our_story">
            <h2>Kulture</h2>
            <p>“<b>Culture</b>: Few drinks can claim a place in the creation of the English, American, French and Russian revolutions, but coffee can. Beyond activating the minds of revolutionaries, coffee drinking is highly social, and for centuries coffeehouse owners have tried to make their businesses centers of community life.”<br>
<span>(Matthew Edlund, 2010)</span>
        </div>
        <div style="clear: both;"></div>

        <div id="products">
          <div class="koffee__section">
            <h2>Koffee Finder</h2>
            <div>
              <div ng-controller="FinderController as finder" class="Finder">
                <input 
                  type="text" 
                  name="finder_search" 
                  ng-model="finder.search"
                  class="finder__search"
                  placeholder="Koffee Near You" />
                <!-- <div class="finder__map" ng-show="!finder.search">
                  <iframe src="https://www.google.com/maps/d/embed?mid=1Uz7F2Nk1NsK4-AMAZDxcPHLhxv8" width="640" height="480"></iframe>
                </div> -->
                <div class="finder__locations">
                  <a 
                    href="http://maps.google.com/?q={{location.ADDRESS}},{{location.ZIPCODE}}"
                    ng-repeat="location in finder.locations | filter: finder.search | limitTo: 6"
                    target="_blank"
                    class="finder__location__container">
                  <div class="finder__location">
                    <h1 class="finder__location__name">
                      {{location.NAME}}
                    </h1>
                    <p class="finder__location__region">
                      {{location.REGION}}
                    </p>
                    <p class="finder__location__address">
                      {{location.ADDRESS}}, {{location.ZIPCODE}}
                    </p>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

            <h2>Products</h2>
            <div 
              id="products"
              ng-controller="ProductsController as products"
              >
                <div 
                  class="products__overlay"
                  ng-click="products.hide()">
                  <div class="products__overlay__description">
                    <p>{{products.active.description}}</p>
                  </div>
                </div>
                <div id="products__container">
                  <div 
                    class="products__product"
                    ng-repeat="product in products.products">
                    <img 
                      ng-src="images/products/{{product.image}}"
                      class="products__img"
                      ng-click="products.show(product)">
                  </div>
                </div>
            </div>
        </div>
        </div>
        <div style="clear: both;"></div>

        <!-- The Science, under Products -->
        <div id="the_science">
            <h2 class="science__title">Science</h2>
            <div class="science_section">
              <div ng-include="'images/HoneyScience.svg'"></div>
            </div>
        </div>
        <div style="clear: both;"></div>

        <div id="the_beginning">
            <div id="the_beginning_left">
                <img class="kickstarter__logo" src = "images/kickstarter.png">
                <h3 class="beginning__originated">Originated</h3>
            </div>
            <div id="the_beginning_right">
                <p>Koffee’s initial startup was successfully funded in November of 2014 through the popular crowd funding site; Kickstarter. 100 individuals collectively put together $30,000 in 30 days, proving that there is a strong desire for a healthier coffee. <strong>Koffee</strong> concentrates its rich flavor in an 8.5 ounce espresso style sipper. Koffee Reinvented is just the first in a series of healthy innovative beverages we plan to bring to the market.</p>
                <br><br><br><br>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
        <div id="the_founder">
            <h3>Founder</h3>
            <p>Koffee was inspired by Kody Chaet, an educational plant-based chef and lifestyle transformation coach, who sought to grow the world through the art of healthier food and beverage. He grew up a vegetarian and avid animal activist near Yellowstone, Montana. As a young entrepreneur, Kody pursued multiple careers in the health and wellness industry. He started n Portland, OR as a personal fitness trainer and smoothly transitioned into the private chef world in Los Angeles, CA. After a decade as a health and fitness professional, he decided he wanted to spread his gift of healing to the world as a whole. Kody realized the best way to spread his message of health to the masses, was to reinvent everyones favorite health beverages, starting with coffee, the most popular beverage on the Planet Earth!</p>
            <div id="the_founder_image">
                <center><img src="images/founder.png" width="100%" alt = "Kody Chaet"></center>
            </div>
        </div>
        <div style="clear: both;"></div>

        <!-- <div id="our_store">
            <h1>Our Store</h1>
        </div>
        -->
        <div style="clear: both;"></div>
        <div class="new__testimonials">
            <h2>Testimonials</h2>
            <div class="testimonials__svg" ng-include="'images/testimonials.svg'"></div>
        </div>
        <div class="contact__container">
          <div class="contact__inner">
            <h2>Kontact</h2>
            
            <div class="contact__flex">
              <div class="contact__info">
                <div id="lets_talk_icon"></div>
                <h1>Let's Talk</h1>
                <h3>323-510-8841</h3>
              </div>
              <div class="contact__info">
                <div id="send_a_message_icon"></div>
                <h1>Send a Message</h1>
                <p>For orders, email us at <a href="mailto:orders@koffeereinvented.com">Orders@KoffeeReinvented.com</a><br>For inquiries, email us at <a href="mailto:hello@koffeereinvented.com">Hello@KoffeeReinvented.com</a></p>
              </div>
            </div>

            <div class="contact__signup">
              <h1>Sign Up for Newsletter</h1>
              <input type="text" name="newsletter" placeholder="Email"/><a href="" class="button">Sign Up</a>
            </div>

            <!-- <div class="social__icons">
                <div class="social__icons__container">
                    <div id="email_lrg">
                        <a href="mailto:Kody@KoffeeReinvented.com"><center><img src="images/mail.png"></center></a>
                    </div>
                    <div id="facebook_lrg">
                        <a href="http://www.facebook.com/KoffeeReinvented" target="_blank"><center><img src="images/facebook.png"></center></a>
                    </div>
                    <div id="twitter_lrg">
                        <a href="http://www.twitter.com/KoffeeReinventd" target="_blank"><center><img src="images/twitter.png"></center></a>
                    </div>
                    <div id="youtube_lrg">
                        <a href="https://www.youtube.com/channel/UCXbnzwH05iTR6As89ttlziA/feed" target="_blank"><center><img src="images/youtube.png"></center></a>
                    </div>
                    <div id="instagram_lrg">
                        <a href="http://www.instagram.com/KoffeeReinvented" target="_blank"><center><img src="images/instagram.png"></center></a>
                    </div>
                    <div id="yelp_lrg">
                        <a href="http://www.yelp.com/biz/koffee-reinvented-los-angeles" target="_blank"><center><img src="images/yelp.png"></center></a>
                    </div>
                </div>
            </div> -->
          </div>
        </div>

        <div id="social">
          <div id="social_icons">
            <div id="social_icon_container">
              <div id="email_lrg">
                  <a href="mailto:Kody@KoffeeReinvented.com"><center><img src="images/mail.png"></center></a>
              </div>
              <div id="facebook_lrg">
                  <a href="http://www.facebook.com/KoffeeReinvented" target="_blank"><center><img src="images/facebook.png"></center></a>
              </div>
              <div id="twitter_lrg">
                  <a href="http://www.twitter.com/KoffeeReinventd" target="_blank"><center><img src="images/twitter.png"></center></a>
              </div>
              <div id="youtube_lrg">
                  <a href="https://www.youtube.com/channel/UCXbnzwH05iTR6As89ttlziA/feed" target="_blank"><center><img src="images/youtube.png"></center></a>
              </div>
              <div id="instagram_lrg">
                  <a href="http://www.instagram.com/KoffeeReinvented" target="_blank"><center><img src="images/instagram.png"></center></a>
              </div>
              <div id="yelp_lrg">
                  <a href="http://www.yelp.com/biz/koffee-reinvented-los-angeles" target="_blank"><center><img src="images/yelp.png"></center></a>
              </div>
            </div>
          </div>
        </div>
        <div style="clear: both;"></div>
        
        <footer>
            <div class="footer_container">
                <div id="copyright">
                    <p>© Koffee Reinvented.</p>
                </div>
                <!-- <a href="http://www.popthepixel.com" target="_blank"><div id="ptp"></div></a> -->
            </div>
        </footer>
    <!-- Note: jQuery is defined twice. Commented out the CDN below. -->

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <!-- Adding Masonry testimonial CDN -->
        <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
        <!-- Running the masonry testimonial script -->
        <script>
            $('.cd-testimonials-all-wrapper').children('ul').masonry({
                itemSelector: '.cd-testimonials-item'
            });
        </script>
        <!-- Adding flexslider CDN
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/jquery.flexslider.js">
        </script>
        Running the carousel script below, via flexslider. -->
        <script>
        $('.cd-testimonials-wrapper').flexslider({
        //declare the slider items
        selector: ".cd-testimonials > li",
        animation: "slide",
        //do not add navigation for paging control of each slide
        controlNav: false,
        slideshow: false,
        //Allow height of the slider to animate smoothly in horizontal mode
        smoothHeight: true,
        start: function(){
            $('.cd-testimonials').children('li').css({
                'opacity': 1,
                'position': 'relative'
            });
        }
    });
        </script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
        $( ".hover" ).hover(
            function() {
                $(this).find('.hover_extra').show();
            }, function() {
                $(this).find('.hover_extra').hide();
            }
        );

        // // NOTE: Adding window-resize jQuery (prepend logo small to the nav menu.)
        // $(window).on('resize', function(){
        //     var win = $(this); //this = window
        //     if (win.height() <=760) {

        //         $('#logo').prepend('.nav-bar')
        //     }
        // });
        // // END new jQuery functionality.

        </script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
        <script src="js/jquery.sticky.js"></script>
        <script>
          $(document).ready(function(){
            $("#sticky").sticky({topSpacing:0});
          });
        </script>

        <script src='js/bind-polyfill.js'></script>
        <script src='js/smooth-scroll.js'></script>
        <script>
        // Add conditional: if mobile, change offset.
        if(screen.width > 1024) {

            smoothScroll.init({
                speed: 1000,
                easing: 'easeInOutCubic',
                // Editing offset to update scroll-to endpoint. Started at 0.
                offset: 70,
                updateURL: true,
                callbackBefore: function ( toggle, anchor ) {},
                callbackAfter: function ( toggle, anchor ) {}
            });
            console.log("desktop")
        }

        // If iPad, change offset.
        else if(screen.width >= 768) {

            smoothScroll.init({
                speed: 1000,
                easing: 'easeInOutCubic',
                // Editing offset to update scroll-to endpoint. Started at 0.
                offset: 75,
                updateURL: true,
                callbackBefore: function ( toggle, anchor ) {},
                callbackAfter: function ( toggle, anchor ) {}
            });
            console.log("tablet");
        }
        else { //if mobile

            smoothScroll.init({
                speed: 1000,
                easing: 'easeInOutCubic',
                // Editing offset to update scroll-to endpoint. Started at 0.
                //offset: 210,
                offset: 30,
                updateURL: true,
                callbackBefore: function ( toggle, anchor ) {},
                callbackAfter: function ( toggle, anchor ) {}
            });
            console.log("mobile");
        }
        </script>
        <!-- Adding in timer for Flexslider. -->
        <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $(".products__overlay").fadeOut();

    $('.flexslider').flexslider({
          animation: "slide",  // slide or fade
          slideshowSpeed: 1000, // Time in milliseconds before the the next slide starts
          controlsContainer: ".flex-container", // the container that holds the flexslider
          // Disable touch for mobile pausing. 06.07.16 edit
          touch: false,
          pauseOnAction: false
    });
  });
</script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58773807-1', 'auto');
            ga('send', 'pageview');
        </script>


<!-- Running the Sidr script 06.13.16 -->
<script>
    $('#responsive-menu-button').sidr({
      name: 'sidr-main',
      source: '#mobile-sidr'
    });
</script>

<!-- Integrating TouchSwipe JS library for swipe to open/close on mobile 06.14.16 -->
<script src="//cdn.jsdelivr.net/jquery.touchswipe/1.6.13/jquery.touchSwipe.min.js"></script>

<!-- Scroll window: fix the mobile-nav sidr menu -->
<script>
// $(function() {

    // var $sidebar   = $("#sidr-main"),
    //     $window    = $(window),
    //     offset     = $sidebar.offset(),
    //     topPadding = 0;

    // $window.scroll(function() {
    //   console.log("Window " + $window.scrollTop())
    //   console.log("Offset " + offset.top)

    //   $sidebar.stop().animate({
    //             marginTop: $window.scrollTop()
    //   });

        // if ($window.scrollTop() < 450) {

        //     $sidebar.stop().animate({
        //         marginTop: $window.scrollTop() + offset.top + topPadding
        //     });
        // }
        // else if($window.scrollTop() >= 450) {
        //   $sidebar.stop().animate({
        //         marginTop: 450
        //     });
        // }
        // else {
        //     $sidebar.stop().animate({
        //         marginTop: 0
        //     });
        // }

    // });

</script>

<script>
    $('#mobile-header').swipe( { fingers:'all', swipeLeft:swipeOpen});

    $('body').swipe({fingers: 'all', swipeRight: swipeClose});
        $.fn.swipe.pageScroll.AUTO;

        //Single swipe handler for left swipes
        function swipeOpen() {
            $.sidr('open', 'sidr-main');

        };
        function swipeClose() {
            $.sidr('close', 'sidr-main');
        };
        //Default is 75px, set to 0 for demo so any distance triggers swipe
        //threshold: 45,

</script>
    </body>
</html>
